.dark.mc {
  --mat-sys-primary: rgb(233 212 255);
  --mat-sys-surface-tint: rgb(216 186 251);
  --mat-sys-on-primary: rgb(49 25 78);
  --mat-sys-primary-container: rgb(160 133 194);
  --mat-sys-on-primary-container: rgb(0 0 0);
  --mat-sys-secondary: rgb(229 215 240);
  --mat-sys-on-secondary: rgb(42 34 53);
  --mat-sys-secondary-container: rgb(152 140 163);
  --mat-sys-on-secondary-container: rgb(0 0 0);
  --mat-sys-tertiary: rgb(255 209 215);
  --mat-sys-on-tertiary: rgb(62 26 34);
  --mat-sys-tertiary-container: rgb(183 131 140);
  --mat-sys-on-tertiary-container: rgb(0 0 0);
  --mat-sys-error: rgb(255 210 204);
  --mat-sys-on-error: rgb(84 0 3);
  --mat-sys-error-container: rgb(255 84 73);
  --mat-sys-on-error-container: rgb(0 0 0);
  --mat-sys-background: rgb(21 18 24);
  --mat-sys-on-background: rgb(231 224 232);
  --mat-sys-surface: rgb(21 18 24);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(74 69 78);
  --mat-sys-on-surface-variant: rgb(226 218 229);
  --mat-sys-outline: rgb(183 175 186);
  --mat-sys-outline-variant: rgb(149 142 152);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(231 224 232);
  --mat-sys-inverse-on-surface: rgb(44 41 47);
  --mat-sys-inverse-primary: rgb(85 61 115);
  --mat-sys-primary-fixed: rgb(238 220 255);
  --mat-sys-on-primary-fixed: rgb(27 2 57);
  --mat-sys-primary-fixed-dim: rgb(216 186 251);
  --mat-sys-on-primary-fixed-variant: rgb(66 42 96);
  --mat-sys-secondary-fixed: rgb(235 221 247);
  --mat-sys-on-secondary-fixed: rgb(21 14 31);
  --mat-sys-secondary-fixed-dim: rgb(207 193 218);
  --mat-sys-on-secondary-fixed-variant: rgb(59 50 70);
  --mat-sys-tertiary-fixed: rgb(255 217 222);
  --mat-sys-on-tertiary-fixed: rgb(37 6 14);
  --mat-sys-tertiary-fixed-dim: rgb(242 183 193);
  --mat-sys-on-tertiary-fixed-variant: rgb(82 42 50);
  --mat-sys-surface-dim: rgb(21 18 24);
  --mat-sys-surface-bright: rgb(71 67 73);
  --mat-sys-surface-container-lowest: rgb(9 7 11);
  --mat-sys-surface-container-low: rgb(31 28 34);
  --mat-sys-surface-container: rgb(42 39 44);
  --mat-sys-surface-container-high: rgb(53 49 55);
  --mat-sys-surface-container-highest: rgb(64 60 66);
}
