.dark.hc {
  --mat-sys-primary: rgb(248 236 255);
  --mat-sys-surface-tint: rgb(216 186 251);
  --mat-sys-on-primary: rgb(0 0 0);
  --mat-sys-primary-container: rgb(212 182 246);
  --mat-sys-on-primary-container: rgb(20 0 46);
  --mat-sys-secondary: rgb(248 236 255);
  --mat-sys-on-secondary: rgb(0 0 0);
  --mat-sys-secondary-container: rgb(203 190 214);
  --mat-sys-on-secondary-container: rgb(15 8 25);
  --mat-sys-tertiary: rgb(255 235 237);
  --mat-sys-on-tertiary: rgb(0 0 0);
  --mat-sys-tertiary-container: rgb(238 179 189);
  --mat-sys-on-tertiary-container: rgb(29 2 8);
  --mat-sys-error: rgb(255 236 233);
  --mat-sys-on-error: rgb(0 0 0);
  --mat-sys-error-container: rgb(255 174 164);
  --mat-sys-on-error-container: rgb(34 0 1);
  --mat-sys-background: rgb(21 18 24);
  --mat-sys-on-background: rgb(231 224 232);
  --mat-sys-surface: rgb(21 18 24);
  --mat-sys-on-surface: rgb(255 255 255);
  --mat-sys-surface-variant: rgb(74 69 78);
  --mat-sys-on-surface-variant: rgb(255 255 255);
  --mat-sys-outline: rgb(246 237 248);
  --mat-sys-outline-variant: rgb(200 192 203);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(231 224 232);
  --mat-sys-inverse-on-surface: rgb(0 0 0);
  --mat-sys-inverse-primary: rgb(85 61 115);
  --mat-sys-primary-fixed: rgb(238 220 255);
  --mat-sys-on-primary-fixed: rgb(0 0 0);
  --mat-sys-primary-fixed-dim: rgb(216 186 251);
  --mat-sys-on-primary-fixed-variant: rgb(27 2 57);
  --mat-sys-secondary-fixed: rgb(235 221 247);
  --mat-sys-on-secondary-fixed: rgb(0 0 0);
  --mat-sys-secondary-fixed-dim: rgb(207 193 218);
  --mat-sys-on-secondary-fixed-variant: rgb(21 14 31);
  --mat-sys-tertiary-fixed: rgb(255 217 222);
  --mat-sys-on-tertiary-fixed: rgb(0 0 0);
  --mat-sys-tertiary-fixed-dim: rgb(242 183 193);
  --mat-sys-on-tertiary-fixed-variant: rgb(37 6 14);
  --mat-sys-surface-dim: rgb(21 18 24);
  --mat-sys-surface-bright: rgb(83 79 85);
  --mat-sys-surface-container-lowest: rgb(0 0 0);
  --mat-sys-surface-container-low: rgb(33 30 36);
  --mat-sys-surface-container: rgb(51 47 53);
  --mat-sys-surface-container-high: rgb(62 58 64);
  --mat-sys-surface-container-highest: rgb(73 69 76);
}
