.mc:not(.dark) {
  --mat-sys-primary: rgb(66 42 96);
  --mat-sys-surface-tint: rgb(108 83 140);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(123 98 155);
  --mat-sys-on-primary-container: rgb(255 255 255);
  --mat-sys-secondary: rgb(59 50 70);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(116 105 127);
  --mat-sys-on-secondary-container: rgb(255 255 255);
  --mat-sys-tertiary: rgb(82 42 50);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(144 96 104);
  --mat-sys-on-tertiary-container: rgb(255 255 255);
  --mat-sys-error: rgb(116 0 6);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(207 44 39);
  --mat-sys-on-error-container: rgb(255 255 255);
  --mat-sys-background: rgb(255 247 255);
  --mat-sys-on-background: rgb(29 26 32);
  --mat-sys-surface: rgb(255 247 255);
  --mat-sys-on-surface: rgb(19 16 21);
  --mat-sys-surface-variant: rgb(232 224 235);
  --mat-sys-on-surface-variant: rgb(57 52 61);
  --mat-sys-outline: rgb(86 80 90);
  --mat-sys-outline-variant: rgb(113 107 117);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(51 47 53);
  --mat-sys-inverse-on-surface: rgb(246 238 246);
  --mat-sys-inverse-primary: rgb(216 186 251);
  --mat-sys-primary-fixed: rgb(123 98 155);
  --mat-sys-on-primary-fixed: rgb(255 255 255);
  --mat-sys-primary-fixed-dim: rgb(98 73 129);
  --mat-sys-on-primary-fixed-variant: rgb(255 255 255);
  --mat-sys-secondary-fixed: rgb(116 105 127);
  --mat-sys-on-secondary-fixed: rgb(255 255 255);
  --mat-sys-secondary-fixed-dim: rgb(91 81 101);
  --mat-sys-on-secondary-fixed-variant: rgb(255 255 255);
  --mat-sys-tertiary-fixed: rgb(144 96 104);
  --mat-sys-on-tertiary-fixed: rgb(255 255 255);
  --mat-sys-tertiary-fixed-dim: rgb(117 72 80);
  --mat-sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --mat-sys-surface-dim: rgb(203 196 204);
  --mat-sys-surface-bright: rgb(255 247 255);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(249 241 249);
  --mat-sys-surface-container: rgb(237 230 238);
  --mat-sys-surface-container-high: rgb(226 219 226);
  --mat-sys-surface-container-highest: rgb(214 207 215);
}
